.articleTitle {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
  text-align: center;
  color: #f7f7f7;
}

.articleContainer {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 1rem #000;
}